<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pay</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pay.css">
</head>
<body>
    <div class="wrap--pay flexbox flexbox-c flexbox-ac">
            <h1 class="font-xl">text</h1>
        <div class="pay--box flexbox flexbox-c flexbox-jsc">
            <h2 class="font-lg">text</h2>
            <div class="pay--content flexbox flexbox-r flexbox-jsc">
                <div class="btn btn--medium content">1</div>
                <div class="btn btn--medium content">1</div>
            </div>
        </div>
        <button class="btn btn--lg">next</button>
    </div>
</body>
</html>