<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"> Helpnong </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidenav.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <section id="header" class="wrap--header flexbox flexbox-c flexbox-jsc" th:fragment="header">
        <div class="advertise--txt font-xl">advertisement</div>
        <!-- 네비부분 -->
        <nav class="navi--header flexbox flexbox-r-jsb flexbox-ae">
            <!-- logo부분 -->
            <div class="logo">
                <a href="/index.html">
                    <img src="/img/logo/logo3.png" alt="logo">
                </a>
            </div>
            <!-- 메뉴부분 -->
            <ul class="nav--menu flexbox flexbox-r flexbox-jsc">
                <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">구독정보</a></li>
                <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">상품정보</a></li>
                <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">이벤트</a></li>
                <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">고객센터</a></li>
                <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">마이페이지</a></li>
            </ul>
            <!-- 로그인버튼 -->
            <div class="box--login flexbox flexbox-r flexbox-ac">
                <span class="user_name font-bold">name</span>
                <span class="align--cc material-symbols-outlined background-darkgreen font-lightgreen">Person</span>
                <a href="#" class="btn btn--login font-darkgreen font-bold">login</a>
                <a href="#" class="btn btn--login font-darkgreen font-bold">regist</a>
            </div>
        </nav>
    </section>
    <section id="footer" class="wrap--foot flexbox flexbox-c background-darkgreen" th:fragment="footer">
        <!-- 푸터 소셜미디어 박스 -->
        <div class="sns--box flexbox flexbox-r flexbox-jsc flexbox-ac">
            <a href="#" class="btn--medium">
                <img src="/img/sns/instagram.svg" alt="instagram" class="sns--img">
            </a>
            <a href="#" class="btn--medium">
                <img src="/img/sns/facebook.svg" alt="facebook" class="sns--img">
            </a>
            <a href="#" class="btn--medium">
                <img src="/img/sns/twitter.svg" alt="twitter" class="sns--img">
            </a>
        </div>
        <div class="section--foot flexbox flexbox-c flexbox-jsc">
            <!-- 푸터 서브메뉴 영역 -->
            <div class="foot__sub--box flexbox flexbox-r flexbox-jsc">
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
            </div>
            <!-- 푸터약관 영역 -->
            <div class="foot__main--box flexbox flexbox-r flexbox-jsc">
                <div class="foot__main--content flexbox flexbox-r flexbox-jsc flexbox-ac">
                    <div class="foot__main--img align--cc">
                        <a href="/index.html">
                            <img src="img/logo/logo3_footer.png" alt="logo_footer">
                        </a>
                    </div>
                    <div class="content flexbox flexbox-c flexbox-as">
                        <span class="content-txt font-sm font-lightgreen">texttexttexttexttexttexttexttexttext</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                    </div>
                    <div class="content flexbox flexbox-c flexbox-as">
                        <span class="content-txt font-sm font-lightgreen">texttexttexttexttexttexttexttexttext</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                    </div>
                    <div class="content flexbox flexbox-c flexbox-as">
                        <span class="content-txt font-sm font-lightgreen">texttexttexttexttexttexttexttexttext</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                    </div>
                </div>
            </div>
            <!-- 푸터 copright -->
            <div class="foot__comp flexbox flexbox-ac flexbox-jsc">
                <span class="comp--txt__main font-sm font-lightgreen">copyright</span>
            </div>
        </div>
    </section>
</body>
</html>