        <!-- 푸터 소셜미디어 박스 -->
        <div class="sns--box flexbox flexbox-r flexbox-jsc flexbox-ac">
            <a href="#" class="btn--medium">
                <img src="/img/sns/instagram.svg" alt="instagram" class="sns--img">
            </a>
            <a href="#" class="btn--medium">
                <img src="/img/sns/facebook.svg" alt="facebook" class="sns--img">
            </a>
            <a href="#" class="btn--medium">
                <img src="/img/sns/twitter.svg" alt="twitter" class="sns--img">
            </a>
        </div>

        
        <div class="section--foot flexbox flexbox-c flexbox-jsc">
            <!-- 푸터 서브메뉴 영역 -->
            <div class="foot__sub--box flexbox flexbox-r flexbox-jsc">
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
                <span class="foot__sub--txt font-lg font-lightgreen">text</span>
            </div>
            <!-- 푸터약관 영역 -->
            <div class="foot__main--box flexbox flexbox-r flexbox-jsc">
                <div class="foot__main--content flexbox flexbox-r flexbox-jsc">
                    <div class="foot__main--img align--cc">
                        <a href="/index.html">
                            <img src="img/logo/logo3_footer.png" alt="logo_footer">
                        </a>
                    </div>
                    <div class="content flexbox flexbox-c flexbox-as">
                        <span class="content-txt font-sm font-lightgreen">texttexttexttexttexttexttexttexttext</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                    </div>
                    <div class="content flexbox flexbox-c flexbox-as">
                        <span class="content-txt font-sm font-lightgreen">texttexttexttexttexttexttexttexttext</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                    </div>
                    <div class="content flexbox flexbox-c flexbox-as">
                        <span class="content-txt font-sm font-lightgreen">texttexttexttexttexttexttexttexttext</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                        <span class="content-txt font-sm font-lightgreen">text</span>
                    </div>
                </div>
            </div>
            <!-- 푸터 copright -->
            <div class="foot__comp flexbox flexbox-ac flexbox-jsc">
                <span class="comp--txt__main font-sm font-lightgreen">copyright</span>
            </div>
        </div>