<!-- 헤더 광고부분 -->
<div class="advertise--txt font-xl">advertisement</div>
<!-- 네비부분 -->
<nav class="navi--header flexbox flexbox-r-jsb flexbox-ae">
    <!-- logo부분 -->
    <div class="logo">
        <a href="/index.html">
            <img src="/img/logo/logo3.png" alt="logo">
        </a>
    </div>
    <!-- 메뉴부분 -->
    <ul class="nav--menu flexbox flexbox-r flexbox-jsc">
        <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">구독정보</a></li>
        <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">상품정보</a></li>
        <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">이벤트</a></li>
        <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">고객센터</a></li>
        <li class="menu--main align--cc"><a href="#" class="font-bold font-darkgreen">마이페이지</a></li>
    </ul>
    <!-- 로그인버튼 -->
    <div class="box--login flexbox flexbox-r flexbox-ac">
        <span class="user_name font-bold" >name</span>
        <span class="align--cc material-symbols-outlined background-darkgreen font-lightgreen">Person</span>
        <a href="#" class="btn btn--login font-darkgreen font-bold">login</a>
        <a href="#" class="btn btn--login font-darkgreen font-bold">regist</a>
    </div>
</nav>