@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
*{
    outline: 1px solid red;
}


.wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/* 보더 옵션css */
.card--border{
    border: 3px solid#096A2E;
}

/* 정렬옵션css */
.align--cc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align--lc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 섹션css */
.section{
    width: 100%;
    max-width:1500px;
    /* margin-top: 10px; */
    /* background-color: #C9F8CB; */
}
.section--title{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
}
.section > h1 {
    text-align: center;
    border-bottom: 4px solid #096A2E;
}

/* 폰트css */
.font-bold{
    font-weight: bold;
}
.font-xxl{
    font-size: 1.875em; 
    /* 30px */
}
.font-xl{
    font-size: 1.5rem;
    /* 24px */
}
.font-lg{
    font-size: 1.250rem;
    /* 20px */
}
.font-sm{
    font-size: 0.875rem;
    /* 14px */
}
.font-xsm{
    font-size: 0.750rem;
    /* 12px */
}
.font-green{
    color: #C9F8CB;
}
.font-darkgreen{
    color: #096A2E;
}
.font-lightgreen{
    color: #D8FFC8;
}
.font-white{
    color: #FFF;
}


/* 배경css */
.background-white{
    background-color: #FFF ;
}
.background-darkgreen{
    background-color: #096A2E;
}
.background-green{
    background-color: #C9F8CB;
}
.background-lightgreen{
    background-color: #D8FFC8;
}

/* 플렉스 옵션css */
.flexbox{display: flex;}
.flexbox-r{flex-direction: row;}
.flexbox-c{flex-direction: column;}
.flexbox-r-jsb{
    flex-direction: row;
    justify-content: space-between;
}
.flexbox-r-jse{
    flex-direction: row;
    justify-content: space-evenly;
}
.flexbox-c-afs{
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-jsc{justify-content: center;}
.flexbox-jfs{justify-content: flex-start;}
.flexbox-je{justify-content: flex-end;}
.flexbox-jsb{justify-content: space-between;}
.flexbox-jsa{justify-content: space-around;}
.flexbox-as{align-items:flex-start;}
.flexbox-ac{align-items:center;}
.flexbox-ae{align-items:flex-end;}

/* 버튼css */
.btn{
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn--lg{
    width: 100%;
    max-width: 200px;
    height: 50px;
}
.btn--medium{
    width: 50px;
    height: 50px;
}
.btn--sm{
    width: 30px;
    height: 30px;
}
.btn--login{
    flex-basis: 80px;
    flex-grow: 1;
    height: 25px;
    background-color: #C9F8CB;
    padding: 10px;
    border: 0.5px solid #096A2E;
}
.btn--login:hover{
    background-color: #a5f3a9;
}
.btn--subscript{
    background-color: #096A2E;
    color: #FFF;
}
.btn--subscript:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btn--detail{
    border-bottom: 3px solid transparent;
}
.btn--detail:hover{
    border-bottom: 3px solid #096A2E;
    opacity: 0.8;
}
.btn--slide{
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #096A2E;
}
.btn--slide:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btn--left:hover{
    cursor: pointer;
    opacity: 0.8;
}

.btn--right:hover{
    cursor: pointer;
    opacity: 0.8;
}
.btn--plus:hover{
    cursor: pointer;
    color: #a5f3a9;
}

/* 추후focus 이벤트 설정 */
.btn--middle{
    height: 1px;
    border-bottom: 10px solid #096A2E;
    border-radius:5px;
}
.btn--middle:hover{
    cursor: pointer;
}
/* 버튼박스css */
.box--btn-r{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.box--btn-c{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 홍보문구 css */


/* 구독간단홍보 섹션css */
.item--subscript{
    width: 100%;
    /* max-width: 400px; */
    height: 100%;
    gap: 10px;
    padding: 10px;
}

.item--subscript > .subscript--img{
    width: 100%;
    height: 100%;
    min-height: 450px;
    object-fit: fill;
}
.subscript--txt__box{
    width: 100%;
    padding: 10px;
    gap: 10px;
}
.subscript--txt{
    /* width: 100%;
    max-width: 200px; */
    padding: 10px;
}
.section:nth-of-type(2){
    text-align: center;
    gap: 20px;
}
.section:nth-of-type(2) > .subscript--box{
    gap: 10px;
    width: 100%;
}



/* 슬라이드 섹션css */
.container--slide{
    width: 100%;
}
.slide--img__box{
    width: 100%;
    height: 100%;
    min-height: 450px;
}
.slide--img__box > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    background: #096A2E;
}

.slide--menu{
    width: 100%;
    min-width: 200px;
    max-width:fit-content;
    height: auto;
}
.slide--direction{
    background-color: #C9F8CB;
    opacity: 0.7;
}

/* 상품설명 섹션css */
.section:nth-of-type(4) > h1{
    text-align: center;
}
.content--product{
    padding: 10px;
    gap: 20px;
    width: 100%;
}
.content--product > h2 {
    width: fit-content;
    border: 1px solid #FFF;
    padding: 10px;
}
.item--product{
    gap: 10px;
}
.card--product{
    width: 100%;
    max-width: 240px;
    height: 300px;
}
.card--product:hover{
    box-shadow:2px 2px 5px #096A2E;
}
.product--img{
    width: 100%;
    height: 100%;
}
.product--txt{
    width: 100%;
    text-align: center;
    opacity: 0.85 ;
    padding: 5px;
    background-color: #f2f2f2;
}

/* 장점 섹션css */

.section:nth-of-type(5){
    gap: 10px;
}
.card--advantage{
    gap: 10px;
}
.advantage--left{
    width: 100%;
    height: 100%;
    max-width: 250px;
    min-height: 200px;
}
.advantage--left > .advantage--txt{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.advantage--right{
    width: 100%;
    gap: 10px;
}
.advantage--right > .advantage--txt{
    width: 100%;
    padding: 5px;
}
.advantage--right > .advantage--txt::before{
    content: "\2022";
    width: 5px;
    height: 5px;
    padding-right: 2px;
}

/* 어플+구독버튼 섹션css */
.section:nth-of-type(6){
    height: 100%;
    max-height: 450px;
}
.section:nth-of-type(6) > div{
    flex-grow: 1;
}
.appeal--img{
    max-width: 400px;
    max-height: 250px;
    align-self: stretch;
}
.appeal--box{
    height: 100%;
    min-height: 250px;
    gap: 10px;
}
.appeal--txt{
    width: 100%;
    padding: 5px;
    display: inherit;
    align-items: center;
}

/* 질문 섹션css */
.section:nth-of-type(7){
    gap: 10px;
    padding-bottom: 20px;
}

.card--question{
    width: 100%;
}
.question--box{
    width: 100%;
    display: inherit;
    align-items: center;
    border-bottom: 3px solid #096A2E;  
}
.question--txt{
    width: 100%;
    padding: 10px;
    
}
.answer--box{
    width: 100%;
    height: 220px;
    border-bottom: 3px solid #096A2E;  
}