<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragments/common :: head('헬농')">
</head>
<body>
    <!-- 헤더 -->
    <header id="header" class="wrap--header flexbox flexbox-c flexbox-jsc" th:replace="Fragments/common :: header"></header>
    <!-- 메인섹션 -->
    <div class="wrap background-lightgreen">
        <!-- 홍보문구 + 구독하기 영역 -->
        <div class="section align--cc">
            <span class="section--title font-bold font-xl background-white">title</span>
            <button class="btn btn--lg btn--subscript font-lg font-bold" value="normal"  onclick="pay()">btn </button>
        </div>

        <!-- 구독간단홍보 섹션 -->
        <div class="section flexbox flexbox-c">
            <h1 class="font-xxl section--title font-darkgreen">subscript</h1>
            <div class="flexbox flexbox-r-jsb subscript--box">
                <div class="item--subscript flexbox flexbox-c flexbox-ac card--border">
                    <div class="subscript--txt__box flexbox flexbox-ac flexbox-c">
                        <h2 class="font-xxl font-darkgreen">Main&nbsp;Title</h2>
                        <div class="subscript--txt align--cc font-lg font-white background-darkgreen">sometext</div>
                        <div class="subscript--txt align--cc font-lg font-white background-darkgreen">sometext</div>
                    </div>
                    <img src="#" alt="#" class="subscript--img">
                    <div class="flexbox box--btn-r flexbox-jsc">
                        <a class="btn btn--lg btn--detail font-lg font-darkgreen font-bold" href="#">detail</a>
                        <button class="btn btn--lg btn--subscript font-lg font-bold" value="subscript1" onclick="pay()">subscript</button>
                    </div>
                </div>
                <div class="item--subscript flexbox flexbox-c flexbox-ac card--border">
                    <div class="subscript--txt__box flexbox flexbox-ac flexbox-c">
                        <h2 class="font-xxl font-darkgreen">Main&nbsp;Title</h2>
                        <div class="subscript--txt align--cc font-lg font-white background-darkgreen">sometext</div>
                        <div class="subscript--txt align--cc font-lg font-white background-darkgreen">sometext</div>
                    </div>
                    <img src="#" alt="#" class="subscript--img">
                    <div class="flexbox box--btn-r flexbox-jsc">
                        <a class="btn btn--lg btn--detail font-lg font-darkgreen font-bold" href="#">detail</a>
                        <button class="btn btn--lg btn--subscript font-lg font-bold" value="subscript2" onclick="pay()">subscript</button>
                    </div>
                </div>
                <div class="item--subscript flexbox flexbox-c flexbox-ac card--border">
                    <div class="subscript--txt__box flexbox flexbox-ac flexbox-c">
                        <h2 class="font-xxl font-darkgreen">Main&nbsp;Title</h2>
                        <div class="subscript--txt align--cc font-lg font-white background-darkgreen">sometext</div>
                        <div class="subscript--txt align--cc font-lg font-white background-darkgreen">sometext</div>
                    </div>
                    <img src="#" alt="#" class="subscript--img">
                    <div class="flexbox box--btn-r flexbox-jsc">
                        <a class="btn btn--lg btn--detail font-lg font-darkgreen font-bold" href="#">detail</a>
                        <button class="btn btn--lg btn--subscript font-lg font-bold" value="subscript3" onclick="pay()">subscript</button>
                    </div>
                </div>
            </div>
        </div> 

        <!-- 슬라이드 섹션 -->
        <div class="section flexbox flexbox-r card--border">
            <div class="box--btn-c slide--menu background-green">
                <!-- DB연결해서 이벤트 갯수마다 반복문 -->
                <button class="btn--slide btn--lg font-sm font-bold font-darkgreen">menu</button>
                <button class="btn--slide btn--lg font-sm font-bold font-darkgreen">menu</button>
                <button class="btn--slide btn--lg font-sm font-bold font-darkgreen">menu</button>
            </div>
            <div class="container--slide flexbox flexbox-c flexbox-ac">
                <div class="slide--img__box">
                    <img src="#" alt="#">
                </div>
                <div class="slide--direction box--btn-r flexbox flexbox-jsc">
                    <span class="btn--medium btn--left material-symbols-outlined align--cc font-xxl font-darkgreen">arrow_back_ios_new</span>
                    <!-- DB연결해서 이벤트 갯수마다 반복문 -->
                    <span class="btn--medium btn--middle"></span>
                    <span class="btn--medium btn--right material-symbols-outlined align--cc font-xxl font-darkgreen">arrow_forward_ios</span>
                </div>
            </div>
        </div>

        <!-- 상품설명 섹션 -->
        <div class="section">
            <h1 class="font-xxl section--title font-darkgreen">product</h1>
            <div class="content--product flexbox flexbox-c">
                <h2 class="font-xl font-darkgreen align--cc">productc1</h2>
                <div class="item--product flexbox flexbox-r">
                    <a href="#" class="card--product flexbox flexbox-c flexbox-ac">
                        <div class="product--img flexbox flexbox-c flexbox-je background-green card--border">img
                            <span class="product--txt font-bold font-darkgreen">text</span>
                        </div>
                    </a>
                    <a href="#" class="card--product flexbox flexbox-c flexbox-ac">
                        <div class="product--img flexbox flexbox-c flexbox-je background-green card--border">img
                            <span class="product--txt font-bold font-darkgreen">text</span>
                        </div>
                    </a>
                    <a href="#" class="card--product flexbox flexbox-c flexbox-ac">
                        <div class="product--img flexbox flexbox-c flexbox-je background-green card--border">img
                            <span class="product--txt font-bold font-darkgreen">text</span>
                        </div>
                    </a>
                </div>
                <h2 class="font-xl font-darkgreen align--cc">productc2</h2>
                <div class="item--product flexbox flexbox-r">
                    <a href="#" class="card--product flexbox flexbox-c flexbox-ac">
                        <div class="product--img flexbox flexbox-c flexbox-je background-green card--border">img
                            <span class="product--txt font-bold font-darkgreen">text</span>
                        </div>
                    </a>
                    <a href="#" class="card--product flexbox flexbox-c flexbox-ac">
                        <div class="product--img flexbox flexbox-c flexbox-je background-green card--border">img
                            <span class="product--txt font-bold font-darkgreen">text</span>
                        </div>
                    </a>
                    <a href="#" class="card--product flexbox flexbox-c flexbox-ac">
                        <div class="product--img flexbox flexbox-c flexbox-je background-green card--border">img
                            <span class="product--txt font-bold font-darkgreen">text</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- 장점 섹션 -->
        <div class="section flexbox flexbox-c">
            <h1 class="font-xxl section--title font-darkgreen">Advantage</h1>
            <div class="card--advantage flexbox flexbox-r background-green card--border">
                <div class="advantage--left flexbox flexbox-c flexbox-je advantage--img">img
                    <div class="advantage--txt background-darkgreen font-lg font-white">text</div>
                </div>
                <div class="advantage--right flexbox flexbox-c flexbox-je">
                    <div class="advantage--txt font-darkgreen">text1</div>
                    <div class="advantage--txt font-darkgreen">text2</div>
                </div>
            </div>
            <div class="card--advantage flexbox flexbox-r background-green card--border">
                <div class="advantage--left flexbox flexbox-c flexbox-je advantage--img">img
                    <div class="advantage--txt background-darkgreen font-lg font-white">text</div>
                </div>
                <div class="advantage--right flexbox flexbox-c flexbox-je">
                    <div class="advantage--txt font-darkgreen">text1</div>
                    <div class="advantage--txt font-darkgreen">text2</div>
                </div>
            </div>
            <div class="card--advantage flexbox flexbox-r background-green card--border">
                <div class="advantage--left flexbox flexbox-c flexbox-je advantage--img">img
                    <div class="advantage--txt background-darkgreen font-lg font-white">text</div>
                </div>
                <div class="advantage--right flexbox flexbox-c flexbox-je">
                    <div class="advantage--txt font-darkgreen">text1</div>
                    <div class="advantage--txt font-darkgreen">text2</div>
                </div>
            </div>
            
        </div>

        <!-- 어필+구독버튼 섹션 -->
        <div class="section flexbox flexbox-r flexbox-ae">
            <div class="appeal--img flexbox">img</div>
            <div class="appeal--box flexbox flexbox-c background-green">
                <span class="appeal--txt font-xl font-bold font-darkgreen">text</span>
                <span class="appeal--txt font-xl font-bold font-darkgreen">text</span>
                <span class="appeal--txt font-xl font-bold font-darkgreen">text</span>
            </div>
            <button class="btn btn btn--lg btn--subscript font-lg font-bold">subscript</button>
        </div>

        <!-- 간단질문 섹션 -->
        <div class="section flexbox flexbox-c">
            <h1 class="font-xxl section--title font-darkgreen">Question</h1>
            <div class="card--question flexbox flexbox-c">
                <div class="question--box flexbox flexbox-r flexbox-ac font-darkgreen">
                    <div class="question--txt font-xxl font-bold">text</div>
                    <span class="btn--medium btn--plus material-symbols-outlined align--cc font-xxl font-bold">add_box</span>
                </div>
                <div class="answer--box background-green">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- 푸터 -->
    <footer id="footer" class="wrap--foot flexbox flexbox-c background-darkgreen" th:replace="Fragments/common :: footer"></footer>
</body>
</html>  